@CHARSET "UTF-8";

body {-ms-overflow-style:none;}
.wrap {border-radius:50px; padding:0px 2px;position: absolute;left: 100px;bottom: 30px;height: 25px;margin-left: -144px;text-align: left;overflow: hidden;font-size: 12px;font-family: 'Malgun Gothic', dotum, '돋움', sans-serif;line-height: 1.5;}
.wrap * {padding: 0;margin: 0;}
.info .title {padding-bottom:2px;height: 25px; font-size: 18px;font-weight: bold; color:#fff; text-align:center; text-shadow:-2px 0 #013469, 0 2px #013469, 2px 0 #013469, 0 -2px #013469}
.info .body {position: relative;overflow: hidden; height:112px;}


