@CHARSET "UTF-8";

.badge-primary{background-color: #013469;}
.text-primary{color: #000 !important;}
.btn-primary {background-color: #013469;}
.btn-outline-primary{border-color: #013469; color: #013469; font-size: 1.0em; padding: 2px 4px;}